{% extends 'layout.html' %}
{% load humanize %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
    href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <link href="{% static '/lib/adminlte-3.1.0-rc/img/LogoGuardog.png'%}" rel="icon">
{#    <link href="{% static 'lib/iportafolio/img/apple-touch-icon.png'%}" rel="apple-touch-icon">#}
{% endblock %}

{% block content %}

<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-search"></i>
      {{ titulo }}
    </h3>

  </div>
    {% if mensaje  %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> {{ mensaje }} </h5>

                </div>
    {% endif %}
</div>

     <div class="card-footer">
        <input id="fec1" name="fec1" type="text"  hidden value="{{ fecha1 }}">
        <input id="fec2" name="fec2" type="text" hidden value="{{ fecha2 }}">


     </div>



<form id="form_filter " action="/App/OrderContractor/listDeliver2/" method="POST">
            {%  csrf_token %}
            <div class="input-group">
                <input type="date" class="form-control form-control-lg"
                       placeholder="" id = "fecha1" name="fecha1">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="date" class="form-control form-control-lg"
                       placeholder="" id = "fecha2" name="fecha2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    <div class="card-body">
    <table class="table" id="data">
      <thead>
            <tr>
                <th  >Delivery Date</th>
                <th  >Project</th>
                <th  >Order</th>
                <th  >Contractor</th>
                <th  >Code</th>
                <th  >Producto/Rate</th>
                <th >Qty Req/Deliveried</th>
                <th  >Special Intructions</th>

            </tr>

      </thead>
      <tbody>
        {% if user.tipousuario == 'G' %}
            {% for c in pagos %} <!--# en object list vienen mi datos -->
                {% if c.Orden.Contractor_id > 0 %}
                    <tr>
                        <td>{{ c.fecha |date:'m-d-Y'}}</td>
                        <td>{{ c.Orden.Project.Name }}</td>
                        <td>{{ c.Orden }}</td>
                        <td>{{ c.Orden.Contractor.Name }}</td>
                        <td>{{ c.Product.code }}</td>
                        <td>{{ c.Product.name }} - ({{ c.Product.rate.valor }})</td>
                        <td>{{ c.Qty_Req }} / ({{ c.Qty_Delivery }})</td>
                        <td>{{ c.Special_Inst }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for c in pagos %} <!--# en object list vienen mi datos -->
                {% if c.Orden.Contractor_id == user.cedula|add:"0" %}
                    <tr>
                    <td>{{ c.fecha |date:'m-d-Y'}}</td>
                    <td>{{ c.Orden.Project.Name }}</td>
                    <td>{{ c.Orden }}</td>
                    <td>{{ c.Orden.Contractor.Name }}</td>
                    <td>{{ c.Product.code }}</td>
                    <td>{{ c.Product.name }} - ({{ c.Product.rate.valor }})</td>
                    <td>{{ c.Qty_Req }} / ({{ c.Qty_Delivery }})</td>
                    <td>{{ c.Special_Inst }}</td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
     <div class="card-footer">
        <input id="fec1" name="fec1" type="text"  hidden value="{{ fecha1 }}">
        <input id="fec2" name="fec2" type="text" hidden value="{{ fecha2 }}">

         {% if user.tipousuario == 'G' %}

            <a href="{{ url }}"  class="btn btn-success btn">
                 <i class="fas fa-print"></i> Print Report
            </a>

        {% endif %}

     </div>
 {% endblock %}
