{% extends 'list_Contractor_details.html' %}
{% load humanize %}

{% block columns %}
    <tr>
        <th  >Sec</th>
        <th  >Item / Product Name</th>
        <th  >Rate</th>
        <th  >Qty Req</th>
        <th  >Qty Deliveried</th>
{#        <th  >Qty OutStanding</th>#}
{#        <th  >Sellado</th>#}
        <th  >Barcode</th>
        <th >Special Inst</th>
        <th >Delivery Date</th>
        <th  >Choices/Info</th>
        <th  >Paid ?</th>

    </tr>
{% endblock %}

{% block rows %}
     {% for c in object_list %} <!--# en object list vienen mi datos -->
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.Product.code }} - {{ c.Product.name }}</td>
            {% if c.Product.rate.id == null %}
                <td>
                    <h4> <span class="badge bg-danger">Not Rate</span></h4>
                </td>
            {% else %}
                <td>{{ c.Product.rate.valor  }}</td>
            {% endif %}

            <td>{{ c.Qty_Req  }}</td>
            {% if c.Qty_Delivery > 0 %}
                <td> <h5 style="color:MediumSeaGreen;">{{ c.Qty_Delivery }}</h5> </td>
            {% else %}
                <td>-</td>
            {% endif %}
{#            <td>{{ c.Qty_Req }} -  {{c.Qty_Delivery }}</td>#}
{#            <td>{{ c.Sellado }}</td>#}

            {% if c.Barcode == 'Y'%}
                 <td>Barcode</td>
            {% else %}
                <td></td>
            {% endif %}

            <td>{{ c.Special_Inst }}</td>
            <td>{{ c.fecha }}</td>

            <td>
            {% if c.Terminado == 'N'%}
                <a href= "{% url 'Cobranza:order_update_detail' c.id %}"  class="btn btn-warning btn-flat" title="Update Order">
                            <i class="fas fa-edit"></i> Update
                </a>

                <a href= "{% url 'Cobranza:order_delete_detail' c.id %}"  class="btn btn-danger btn-flat" title="Update Order">
                            <i class="fas fa-trash"></i> Delete
                </a>

                {% if c.Product.rate.id == null %}
                    <h4> <span class="badge bg-danger"></span></h4>
                {% else %}
                    <a href= "{% url 'Cobranza:producto_terminado' c.id %}"  class="btn btn-success btn-flat" title="Update Order">
                            <i class="fas fa-car"></i> Delivered
                    </a>
                 {% endif %}
            {% endif %}
            {% if c.Terminado == 'Y'%}
                 <h5></h5>
            {% endif %}
            </td>
            <td>
            {% if c.Pagado == 'Y'%}
                           <h5>Paid - {{ c.fecha_de_pago |date:'m-d-Y'}}</h5>
            {% else %}
                <h5>Not Yet</h5>
            {% endif %}
            </td>

        </tr>


    {% endfor %}


{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: true,
                pageLength: 10,
                order:[0,'desc']
            });

            $('.btnTest').on('click', function () {
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus+': '+errorThrown);
                }).always(function (data) {

                });
            });
        });
    </script>
{% endblock %}