{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block head %}

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <link href="{% static '/lib/adminlte-3.1.0-rc/img/LogoGuardog.png'%}" rel="icon">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .no-display{
            display: none;
        }

    </style>

{% endblock %}

{% block content %}
<div class="card card-default">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-cash-register"></i>
      {{ titulo }}  {{ num_order }}    Customer : {{ cust }}
    </h3>
  </div>

  <div class="card-body">
      <div class="row">
          <div class="col-lg-8">
              <div class="card card-secondary">
                  <div class="card-header">
                      <h3 class="card-title"> <i class="fas fa-money-check-alt"></i> Order Details</h3>
                  </div>
                  <div class="card-body">
                      <table class="table" id="data">
                          <thead>
                          <tr>
                              <th>S.O #</th>
                              <th>Code P</th>
                              <th>Product</th>
                              <th>Qty Req.</th>
                              <th>Small Box Req.</th>
{#                              <th>Mater Box Req.</th>#}

                          </tr>
                          </thead>
                           <tbody>
                                {% block rows %}
                                     {% for c in order_detalle %} <!--# en object list vienen mi datos -->
                                         <tr>
                                             <td class="text-center" > {{ c.Orden.So_number }}</td>
                                             <td class="text-center" > {{ c.Prod.code }}</td>
                                             <td class="text-center" > {{ c.Prod.name }}</td>
                                             <td class="text-center" > {{ c.Ordered_Qty }}</td>
                                             <td class="text-center" > {{ c.QtySmallBox }}</td>
{#                                             <td class="text-center" > {{ c.QtyBigBox }}</td>#}
                                         </tr>
                                     {% endfor %}
                                {% endblock %}
                                <tr>
                                             <td class="text-center" > </td>
                                             <td class="text-center" ></td>
                                             <td>
                                                 {% if cust_id == 1 %}
                                                    <a href= "{% url 'Cobranza:label_inner_Dunhams' Orden_id2 %}"  class="btn btn-success btn">
                                                    <i class="fas fa-print"></i> Generate Inner Labels - Dunhams
                                                    </a>
                                                 {% endif %}
                                                 {% if cust_id == 2 %}
                                                    <a href= "{% url 'Cobranza:label_inner_Menards' Orden_id2 %}"  class="btn btn-success btn">
                                                    <i class="fas fa-print"></i> Generate Labels - Menards
                                                    </a>
                                                 {% endif %}
                                                  {% if cust_id == 4 %}
                                                    <a href= "{% url 'Cobranza:label_inner_Academy' Orden_id2 %}"  class="btn btn-success btn">
                                                    <i class="fas fa-print"></i> Generate Labels - Academy
                                                    </a>
                                                 {% endif %}
                                                </td>
                                            <td class="text-center" > {{ total_items }}</td>
                                             <td class="text-center" > {{ tot_cajas_peque }}</td>
{#                                             <td class="text-center" > {{ c.QtyBigBox }}</td>#}
                                </tr>
                           </tbody>
                      </table>

                  </div>
              </div>
          <div class="card card-info">
              <div class="card-header">
                      <h3 class="card-title"> <i class="fas fa-print"></i> Labels</h3>
              </div>
{#              <div class="card-body">#}
{#                      <table class="table" id="data">#}
{#                          <thead>#}
{#                          <tr>#}
{#                              <th>Auxiliar *</th>#}
{#                              <th>Inner Box</th>#}
{#                              <th>Master Box</th>#}
{#                              <th>Company & Prod</th>#}
{#                              <th>Weight & Dim *</th>#}
{#                              <th>Mater Box Req.</th>#}
{##}
{#                          </tr>#}
{#                          </thead>#}
{#                           <tbody>#}
{#                            <tr>#}
{#                                 <td>#}
{#                                    <button class="btn btn-warning btn btn-flat" Id="IraPagar1">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}
{#                                <td>#}
{#                                    <button class="btn btn-success btn btn-flat" Id="IraPagar2">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}
{#                                <td>#}
{#                                    <button class="btn btn-success btn btn-flat" Id="IraPagar3">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}
{#                                <td>#}
{#                                    <button class="btn btn-success btn btn-flat" Id="IraPagar4">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}
{#                                <td>#}
{#                                    <button class="btn btn-warning btn btn-flat" Id="IraPagar5">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}
{##}
{#                            </tr>#}
{##}
{#                           </tbody>#}
{#                      </table>#}
{##}
{#                  </div>#}



              </div>
          </div>
          <div class="col-lg-4">
               <div class="card card-danger">
                  <div class="card-header">
                      <h3 class="card-title"> <i class="fas fa-hands-helping"></i> Items available to Add</h3>
                  </div>
                  <div class="card-body">
                     <table>
                         <tr>
{#                             Orden dada por el sistema - o sea el ID#}
                            <input id="orden" name="orden" type="number" hidden value="{{ orden_id }}">
{#                             Orden dada por el sistema de facturacion, consecutivo de la empresa#}
                             <input id="orden_2" name="orden_2" type="number" hidden value="{{ num_order }}">
                             <input id="cust_id2" name="cust_id2" type="number" hidden value="{{ cust_id }}">
                         </tr>
                            <td>
                                {% csrf_token %}
                                 {{ form }}
                            </td>
                         <tr>
                             <td></td>
                         </tr>
                         <tr>
                             <td>
                                <button class="btn btn-danger btn-flat" Id="IraPagar">
                                    <i class="loading-icon fa fa-spinner fa-spin no-display "></i>
                                    <span class="btn-txt">Add Item </span>
                                </button>

                             </td>
                         </tr>

                     </table>

                  </div>
              </div>


{#              ##}
              <div class="card card-success">
                  <div class="card-header">
                      <h3 class="card-title"> <i class="fas fa-hands-helping"></i> Weight Sheet - Total with Pallet -> {{ total_peso_con_palet }} Lbs</h3>
                  </div>
                  <div class="card-body">
                     <table>
                            <tr>
                                <th style="width: 10%;text-align: center"><b>Box No.</b></th>
                                <th style="width: 20%;text-align: center"><b>Product</b></th>
                                <th style="width: 20%;text-align: center"><b>Weigh</b></th>
                                <th style="width: 30%;text-align: center"><b>Dimensions</b></th>

                            </tr>
                            {% for Ws5a in Ws5 %}
                                <tr>
                                    <td class="text-center" > {{ Ws5a.BoxNumber }}</td>
                                    <td class="text-center" > {{ Ws5a.ProductName }}</td>
                                    <td class="text-center" > {{ Ws5a.Weight }}</td>
                                    <td class="text-center" > {{ Ws5a.Dimensions }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
{#                                 <td>#}
{#                                    <button class="btn btn-success btn btn-flat" Id="IraPagar">#}
{#                                        <i class="loading-icon fa fa-spinner fa-spin no-display "></i>#}
{#                                        <span class="text-center">Print  </span>#}
{#                                    </button>#}
{##}
{#                                 </td>#}

                            </tr>

                     </table>

                  </div>
              </div>
{#              ##}

          </div>

      </div>

  </div>

</div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
    $('#IraPagar').click(function() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        {#alert(csrftoken);#}
        orden = document.getElementById("orden").value;
        {#Orden de Venta#}
        sale_order = document.getElementById("orden_2").value;
        {#Codigo del Producto#}
        prod_id = document.getElementById("id_Prod").value;
        {#Cantidad Vendida#}
        cant = document.getElementById("id_Ordered_Qty").value;
        {##}
        cust_id3 = document.getElementById("cust_id2").value;
        {##}
        {#alert('aqui voy ya con los datos');#}
        {#alert(orden);#}
        {#alert(sale_order);#}
        {#alert(prod_id);#}
        {#alert(cant);#}

        $('.loading-icon').removeClass('no-display');
        $('#IraPagar').attr('disabled',true);
        $('.btn-txt').text('Adding Item..., Wait');

        {#alert('aqui voy 2');#}

        $.ajax({
            url: '/App/Orders/additem2/',
            type: 'POST',
            headers: {"X-CSRFToken": csrftoken},
            data: {
                'orden2': orden,
                'prod2' : prod_id,
                'qty2' : cant,
                'cust_id4' : cust_id3,
            },
            dataType: "json",
            cache: true,
            async: false,
            success: function (response) {
                setTimeout(function () {

                    $('.loading-icon').addClass('no-display');
                    $('#IraPagar').attr('disabled', false);
                    $('.btn-txt').text('Add Item');
                    {#alert('Done - Boxing and Item added ');#}
                    location.reload();
                }, 500)

            },
        })
        {#alert('fin..termine')#}
        });
    </script>
{% endblock %}

