{% extends 'form.html' %}
{% load static %}

{% block head %}

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>
    <link href="{% static '/lib/adminlte-3.1.0-rc/img/LogoGuardog.png'%}" rel="icon">
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    <script src="{% static 'Asesorias/js/form.js' %}"></script> {# aqui va a ir TODA la logica#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .no-display{
            display: none;
        }

    </style>


{% endblock %}


{% block content %}

<form method="post" action='.'>
	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">
				<i class="fas fa-plus"></i>
				{{ titulo }} No. {{  form.initial.id }}
			</h3>
		</div>
		<div class="card-body">
			{% csrf_token %}  {# Esto se inserta por seguridad #}
            <div>
                {% if mensaje  %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> {{ mensaje }} </h5>

                    </div>
                {% endif %}
            </div>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error en el registro !</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ form }}        {# Con esto se despliega el formulario de forma nativa #}
  		</div>
		<div class="card-footer">
            {% csrf_token %}
            {% if action == 'edit' %}
                <button type= "submit" class="btn btn-primary btn-flat ">
                    <i class="fas fa-save"></i> Guardar registro
                </button>


            {% endif %}

        </div>


	</div>
</form>


{% endblock %}