<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <p><img src="https://xn--credisoar-r6a.com/static/lib/adminlte-3.1.0-rc/img/LogoGuardog.png" alt="" /></p>
        <p></p>
        <p>Julio 27 de 2021</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p><strong>Apreciado (a)</strong></p>
        <p><strong>FERNANDO DARIO ORTEGA ERASO</strong></p>
        <p><strong>Identificado con :&nbsp; 98.379.167</strong></p>
        <p></p>
        <p>Ref : <strong>RECORDATORIO DE PAGO</strong></p>
        <p></p>
        <p></p>
        <p><strong>Crediso&ntilde;ar SAS</strong>, le informa que a la fecha, su obligaci&oacute;n crediticia cuenta con <strong>90</strong> d&iacute;as de mora, lo invitamos a que normalice su cr&eacute;dito cuanto antes.&nbsp; Comun&iacute;quese al 3152330171 para m&aacute;s informaci&oacute;n y poder ayudarle.</p>
        <p></p>
        <p>Cordialmente,</p>
        <p></p>
        <p></p>
        <p><strong>Departamento Jur&iacute;dico y Cobranza</strong></p>
        <p><strong>Crediso&ntilde;ar SAS</strong></p>
        <p><strong>Tel 3182186060 - 3148032780 - 3152330171</strong></p>
    </body>
</html>